body
{
    background-image: url(/png/WEB\ BACKGROUND-01.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: white;
  }
  
  li {
    float: left;
    
  }
  
  li a, .dropbtn {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    margin-left: 60px;
    
  }
  
  li a:hover, .dropdown:hover .dropbtn {
    background-color: lightblue;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
   
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {background-color: #f1f1f1;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  a
  {
      color:white;
      text-decoration: none;
      
  }


  button
  {
      color: blueviolet;
      font-size: 15px;
      size: 20px;
      
  }

  input
  {
      box-sizing: content-box;
      margin-top: 5%;
      
      
  }

/* Login page code. */

.form1
{
  padding: 25px;
  margin-top: 70px;
  margin-left: 40%;
  box-shadow: cadetblue;
  border: white solid 3px;
  border-radius: 15px;
  width: 290px;
  height: 430px;

}

.icon
{
  margin-top: 3px;
  margin-left: 95px;
  width: 100px;
  height: 90px;
  
}

.head1
{
  color: white;
}

table
{
  margin-left: 10px;
}

.text
{
  background-color: wheat;
  border: none;
  border-radius: 10px;
  width: 250px;
  height: 30px;
  text-align: center;
  padding: 4px;
  
}

.text:hover
{
  background-color: whitesmoke;
  color: black;
  transition-duration: 0.3s;
}

.btn
{
  margin-left: 40px;
  background-color: lightslategrey;
  color: azure;
  border: none;
  border-radius: 6px;
  padding: 6px;
  width: 200px;
  height: 40px;
  text-align: center;
}

.btn:hover
{
  background-color: blue;
  color: azure;
}


.a1
{
    color:white;
    text-decoration: none;
    margin-left: 32px;
}

.a1:hover
{
  color: lightskyblue;

}