body
{
    background-image: url(/png/WEB\ BACKGROUND-01-02-02.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

div
{
    border-style: solid;
    margin-top: 10%;
    margin-left: 30%;
    background-repeat: no-repeat ;
     padding: 1%;
    width: 40%;
   height: 420px;
    color: white;
}

form
{
    
    font-size: 100%;
}

input
{
    border: black solid;
    box-sizing:border-box;
    justify-content: center;
}

label
{
    margin-left: 15%;
}

button
{
    
    background: wheat;
    border: solid gray; 
    position: absolute; 
    display: block; 
    margin-left: 15%;
    margin-bottom: 5%;
    height: 5%;
    width: 10%;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-size:100%;
    
}

a
{
    color: whitesmoke;
    text-decoration: none;
}

legend 
{
    background-color: gray;
    color: white;
    padding: 5px 10px;
}

th,tr
{
    padding: 10px;
    margin-left: 100px;
  
}

table
{
    margin-left: 15%;
}
